body {
  background: #000000;
  color: ##ffffff
}

.header {
position: fixed;
margin-top: 70px;
width: 100%;
display: block;
}

.logoJW {
  position: relative;
  margin-left: 70px;
  float: left;
  width: 60px;
  z-index: 2000;
}
.logoJW path {
  fill: gray;
}
.logoJW path:hover{
  fill: white;
}

.Navi {
  margin-top: 0px;
  margin-bottom: 0px;
  float: right;
  margin-right: 70px;
  text-align:right;              /* Textausrichtung     */
  font-family: 'Nunito', sans-serif;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  z-index: 2000;
}

.wrapper{
  position: absolute;
  top: 0;
  clear: both;
  width: auto;
  z-index: -2000;
}

.background-video{
width: 100%;
height: 100%;
  }
#work{
  display: block;
  clear: both;
  width: 100%;
  height: 1px;
}
#about{
  display: block;
  clear: both;
  width: 100%;
  height: 1px;
}
#contact{
  display: block;
  clear: both;
  width: 100%;
  height: 1px;
}
.textfeld{
  align-items: center;
  height: 600px;
}
.letztestextfeld{
  align-items: center;
  height: 450px;
}
.footer {
  position:absolute;
  bottom: 0;
  width: auto;
  z-index: -2000;
}

h2{
  font-family: 'Nunito', sans-serif;
  text-align: center;
  color: gray;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 70px;
}
p{
  margin-top: 10%;
  margin-right: 25%;
  margin-left: 25%;
  display: block;
  vertical-align: middle;
  font-family: 'Nunito', sans-serif;
  text-align: left;
  color: gray;
}

a:link {
    color: gray;
    text-decoration: none;
}
a:visited {
    color: gray;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

.header {
opacity: 0%
}

ul {
    list-style-type: none;
}
